<h1>Available Events</h1>
<ul>
    <% @events.each do |event| %>
        <li>
            <h3>Event Name: <%= event.name %></h3>
            <h4> Event Date: <%= event.date %></h4>
        </li>
    <% end %>
</ul>