<h1>Available Events</h1>
<ul>
    <% @events.each do |event| %>
        <li>
            <%= link_to event do %>
                <h3><%= event.name %>, <%= event.date %></h3>
            <% end %>
        </li>
    <% end %>
</ul>